{% load static %}

<footer class="footer">
    <div class="row">
        <!-- First row for logo and links -->
        <div class="col-md-4">
            <img src="{% static 'media/logo.png' %}" alt="Company Logo" class="footer-logo" id="imgcontent2">
        </div>
        <div class="col-md-4 text-center">
            <div class="footer-links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Insight</a>
                <a href="#">Career</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="social-icons text-right">
                <a href="#"><img src="{% static 'media/fb.png' %}" alt="Facebook"></a>
                <a href="#"><img src="{% static 'media/ins.webp' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'media/x.avif' %}" alt="Twitter"></a>
                <a href="#"><img src="{% static 'media/in.png' %}" alt="LinkedIn"></a>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- Second row for copyright, address, and social media links -->
        <div class="col-md-12 text-center">
            <p style="font-size: 0.8em;">Copyright © 2024 Sifax Consulting Limited. All rights reserved.</p>
            <p style="font-size: 0.8em;">22, Oweh street, Jibowu, Lagos, Nigeria</p>
            
        </div>
        
    </div>

</footer>