{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="video-section" class="video-container">
    <div class="overlay">We take pride in ensuring your satisfaction</div>
    <video id="video-bg" autoplay muted loop>
        <source src="static/media/1.mp4" type="video/mp4">
       
    </video>
</div>

<!-- Our Services-->

<div class="container mt-5" id="page-contents">
    <div class="row justify-content-center p-3">
        <h1 class="text-center col-12">Our Services</h1><br><br>
        <!-- First Row -->
        <div class="col-md-6">
            <img src="static/media/services1.jpeg" alt="News Image" class="img-fluid">
            <h5 style="font-size: 1.1em; text-align: center;">Accounting Software Installation</h5>
            <i style="color:brown; font-size: 0.8em; justify-content: center; display: flex;">Simplify Your Financial Reporting</i>
            <!-- <p style="color:#34495E; font-size: 0.8em; text-align: justify;">Streamline your accounting processes with our professional software installation services. We ensure a smooth setup and provide personalized training so you can manage your financial data effortlessly and efficiently.</p> -->
            <!-- <button class="read-more">Read more...</button> -->
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img src="static/media/services3.jpeg" alt="News Image" class="img-fluid">
            <h5 style="font-size: 1.1em; text-align: center;">Financial and Accounting Services</h5>
            <i style="color:brown; font-size: 0.8em; justify-content: center; display: flex;">Organize Your Business Financial Reporting</i>
            <!-- <p style="color:#34495E; font-size: 0.8em; text-align: justify;">Take control of your financial health with our comprehensive accounting services. From detailed financial reporting to effective budgeting and tax planning, we equip you with the tools and insights needed to make informed business decisions.</p> -->
            <!-- <button class="read-more">Read more...</button> -->
        </div>
    </div>
    <!-- Second Row -->
    <div class="row justify-content-center p-3">
        <div class="col-md-6">
            <img src="static/media/services2.jpeg" alt="Service Image" class="img-fluid">
            <h5 style="font-size: 1.1em; text-align: center;">Business Plan Packages</h5>
            <i style="color:brown; font-size: 0.8em; justify-content: center; display: flex;">Blueprint for Business Success</i>
            <!-- <p style="color:#34495E; font-size: 0.8em; text-align: justify;">Whether you're starting a new venture or expanding an existing one, our tailor-made business plans set the stage for your success. We combine market research, financial forecasting, and strategic insights to create a clear and actionable roadmap for your business.</p> -->
            <!-- <button class="read-more">Read more...</button> -->
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img src="static/media/services4.jpeg" alt="Another Image" class="img-fluid">
            <h5 style="font-size: 1.1em; text-align: center;">Training and Resume Writing</h5>
            <i style="color:brown; font-size: 0.8em; justify-content: center; display: flex;">Build Your Career Confidently</i>
            <!-- <p style="color:#34495E; font-size: 0.8em; text-align: justify;">Elevate your professional profile with our expert resume building services. Attract top talent or find your dream job with strategically crafted resumes and compelling job advertisements designed to stand out in a competitive market.</p> -->
            <!-- <button class="read-more">Read more...</button> -->
        </div>
    </div>
</div>



<!-- INSIGHT -->
<div class="container mt-5">
    <div class="row bg-gray p-3" id="page-content">
        <h1 style="text-align: center;">Insights</h1>
        <!-- First Column -->
        <div class="col-md-4">
            <img src="static/media/AI.jpeg" alt="News Image" class="img-fluid">
            <h3>The Future of Accounting Technology</h3>
            <p>Explore how cutting-edge accounting technologies are transforming global finance, boosting efficiency, and shaping economic prospects, particularly in Nigeria.</p>
            <p class="text-muted">Published Date</p>
        </div>

        <!-- Second Column -->
        <div class="col-md-4">
            <img src="static/media/sme.jpeg" alt="News Image" class="img-fluid">
            <h3>Global Trends and Local Impact for SMEs</h3>
            <p>Discover how small businesses around the world, including Nigeria, are leveraging advanced financial management strategies to enhance efficiency, reduce costs, and drive growth in 2023.</p>
            <p class="text-muted">Published Date</p>
        </div>

        <!-- Third Column - Scrollable -->
        <div class="col-md-4" style="overflow-y: auto; height: 600px;">
            <!-- Repeat this box for each recent headline -->
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>
            <div class="recent-news">
                <h4>Recent Headline</h4>
                <p>Short description of the recent news.</p>
                <p class="text-muted">Publish Date</p>
                <hr>
            </div>

            <!-- Repeat ends -->
        </div>
    </div>
</div>


{% endblock %}