{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Edit Record</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ main_attendance_form.as_p }}
        </div>
        <div class="mb-3">
            {{ yoruba_attendance_form.as_p }}
        </div>
        <div class="mb-3">
            {{ children_attendance_form.as_p }}
        </div>
        <div class="mb-3">
            {{ teenagers_attendance_form.as_p }}
        </div>
        <div class="mb-3">
            {{ online_attendance_form.as_p }}
        </div>
        <div class="mb-3">
            {{ offering_form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'attendance' %}" type="submit" class="btn btn-secondary">Cancel</a>
        <!-- Replace 'your_list_view_url_name' with the actual name of your list or detail view URL -->
    </form>
</div>
{% endblock %}
