asgiref==3.7.2
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
cssselect2==0.7.0
distlib==0.3.8
Django==5.0.2
django-crispy-forms==1.14.0
django-formtools==2.3
env==0.1.0
filelock==3.12.2
fonttools==4.50.0
html5lib==1.1
numpy==1.26.4
pandas==2.2.1
pillow==10.2.0
pipenv==2023.12.1
platformdirs==4.2.0
pycparser==2.21
pydyf==0.9.0
python==3.11.4
PyMySQL==1.1.0
pyphen==0.14.0
python-dateutil==2.9.0.post0
pytz==2024.1
reportlab==4.1.0
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
tzdata==2024.1
virtualenv==20.25.1
weasyprint==61.2
webencodings==0.5.1
XlsxWriter==3.2.0
zopfli==0.2.3
